<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tune Stats</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div id="main">
        <div class="heading">
            Welcome to Tune Stats!!
        </div>
        <div class="animated">
            <p>Discover</p> <span id="typed"></span>
        </div>
        <div class="button-container">
            <a href="/top-tracks" class="stat-button">
                <div class="button-icon">🎵</div>
                <div class="button-title">Top Tracks</div>
                <div class="button-description">Your most played songs of all time</div>
            </a>
            <a href="/favorite-artist" class="stat-button">
                <div class="button-icon">👨‍🎤</div>
                <div class="button-title">Favorite Artists</div>
                <div class="button-description">See who you've been listening to most</div>
            </a>
<!--             <a href="/track-analysis" class="stat-button">
                <div class="button-icon">📊</div>
                <div class="button-title">Song Analysis</div>
                <div class="button-description">Deep dive into your music taste</div>
            </a> -->
            <a href="/genie" class="stat-button">
                <div class="button-icon"> 🧞</div>
                <div class="button-title">Spotify Genie</div>
                <div class="button-description">Discover your unique music profile</div>
            </a>
        </div>
    </div>
</body>

</html>
