<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tune Stats</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div class="container">
        <h1 class="heading">Welcome to Tune Stats</h1>
        <div class="discover">Explore Your Musical Universe</div>

        <div class="button-container">
            <a href="/top-tracks" class="stat-button">
                <div class="button-icon">🎵</div>
                <div class="button-title">Top Tracks</div>
                <div class="button-description">Uncover your most played anthems of all time</div>
            </a>

            <a href="/favorite-artist" class="stat-button">
                <div class="button-icon">🎤</div>
                <div class="button-title">Favorite Artists</div>
                <div class="button-description">See who you've been listening to most</div>
            </a>

            <a href="/genie" class="stat-button">
                <div class="button-icon">🔮</div>
                <div class="button-title">Spotify Genie</div>
                <div class="button-description">Discover unique music personality</div>
            </a>
        </div>
    </div>
</body>

</html>
