<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <div class="login-container">
        <div id="threejs-container"></div>
        <h1>Welcome to Tune Stats</h1>
        <a href="/login" class="login-btn">
            <!-- <img src="/static/images/Spotify_logo.png" alt="Spotify Logo" class="spotify-logo"> -->
            Login with Spotify
        </a>
    </div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="login.js"></script> -->

</body>

</html>